click==6.7
clickclick==1.2.1
connexion==1.1.5
Flask==0.12.1
itsdangerous==0.24
Jinja2==2.9.5
jsonschema==2.6.0
MarkupSafe==1.0
PyYAML==3.12
requests==2.13.0
six==1.10.0
strict-rfc3339==0.7
swagger-spec-validator==2.1.0
tinydb==3.2.2
ujson==1.35
Werkzeug==0.12.1
